.check {
    color: blue;
}

/*degradasdos y gradientes de color*/
[class^="gridient"] {
    height: 500px;
    background-color: aquamarine;
    margin-bottom: 10px;
}

.gridient1 {
    background: linear-gradient(to right, rgb(0, 0, 255), white);
}

.gridient2 {
    background: linear-gradient(to bottom, white, darkblue 20%, white);
}

.gridient4 {
    background: radial-gradient(white, red, white );
    width: 50%;
    box-shadow: 50px 25px 15px rgb(0, 0, 0);
}

.gridient3 {
    background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)), url(../../imagenes/images.jpeg);
    background-size: cover;
}

.transform {
    height: 100px;
    width: 100px;
    background-color: #333;
    /*DESPLAZAMIENTO, GIRO SOBRE EL EJE, TAMAÑO (ESCALA), TORSION*/
    transform: translate(300px, -20px) rotate(45deg) scale(0.8) skew(25deg);
}

.transitions {
    height: 100px;
    width: 100px;
    background-color: darkorchid;
    color: bisque;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    /* transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out; */
    transition: all 0.5s ease-in;
}

.transitions:hover {
    background-color: red;
    transform: scale(1.3) rotate(3deg);
}

/*Animaciones*/
.text-animation {
    animation-name: slidein;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    50% {
        color: red;
        margin-left: 0;
    }
    to {
        margin-left: 100%;
    }
}