/* Tipos de display:none, inline, block, inline-block.*/

[class^="box"] {
    background-color: steelblue;
}

.box-1 {
    display: none;
}

.box-3, .box-4, .box-3 p, .box-4 p {
    display: inline-block;
}

.box-5, .box-6, .box-5 p, .box-6 p {
    display: inline;
}

/*centrar en el eje x*/

.x-centered {
    background-color: brown;
    height: 50px;
    width: 25%;

    margin: auto;
}