$font-sizes: (
    "small":0.5rem,
    "initial":0.875rem,
    "medium":1rem,
    "large":1.5rem,
    "x.large":2rem,
    "xxx-large": 5rem
);

$rubik_font_weigths: (
    "ligth": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extraBold": 800,
    "black": 900
);

$titillium_font_weigths: (
    "ligth": 300,
    "regular": 400,
    "medium": 500,
    "semibold": 600,
    "bold": 700,
    "extraBold": 800,
    "black": 900
);

$rainbow: ( //lista de elemetos
    $purple, $cyan, $green, $yellow, $orange
);