nav a {
    text-decoration: none;
    color: whitesmoke;
    padding: 15px;
    display: grid;
    place-items: center;
}

nav {
    background-color: rgba(5, 5, 161, 0.932);
}

nav :last-child {
    
}

@media (min-width: 1000px) {
    
    nav a {
        display: inline-block;
        padding-left: 11%;
    }
}

@media (min-width 1000px) {
    nav :last-child {
        display: none;

    }
}