body {
    display: grid;
    justify-content: center;
    align-items: center;
}

[class^=caja] {
    background-color: blue;
    height: 50px;
    width: 50px;
}

.padre {
    height: 240px;
    width: 240px;
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.transition {
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    cursor: pointer;
}

[class^=caja]:hover {
    scale: 1.2;
}

