.caja_superior {
    background-color: #d6d3d3;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: rgb(133, 132, 132);

}

.caja-general {
    color: #000000;
    size: 25%;
    text-decoration: none;

}

.caja_inferior_1 {}

.caja_inferior_2 {
    float: right;
}

/*usar selectores mas especificos. nav a:first-child | nav a 
(No abusar de las clases)*/